#main {
    border:1px solid grey;
    padding:5%;
    border-radius: 2%;
}
#close{
    float:right;
    width:15px;
    height:15px;
}
form{
    margin-top: 15px;
}
.delete{
    margin-bottom: 2%;
    width:50px;
}