.profile{
    width:30%;
   margin:5% 10%;
   float:left;
   display: block;
}
.buttonHolder{
    margin:2% 0.2%;
}
.ui.button{
    width:290px;
}
.hide{
    width:30%;
   margin:5% 10%;
   float:left;
    display:none
}
.display{
    width:30%;
    margin:5% 10%;
    float:left;
    visibility: visible;
}
